<html ng-app="synced">
<head>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/track/track.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/track/track_forms.css" />


  <link rel="stylesheet" type="text/css" media="screen" href="/static/lib/foundation/foundation.min.css" />
  <script src="/static/lib/foundation/foundation.min.js"></script>

	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>
	<script src="/static/app.js"></script>
  <script src="/static/js/auth.js"></script>
	<script src="/static/js/services.js"></script>
	<script src="/static/js/directives.js"></script>

	<script src="/static/js/controllers/track_controller.js"></script>
	<script src="/static/js/controllers/user_controller.js"></script>
  <script src="/static/js/controllers/training_controller.js"></script>

  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
</head>
<body>
  <nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="#">Synced<span class="subheader">.fm</span></a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <li><a href="#">Recent Tags</a></li>
    </ul>

    <ul class="right">
      <li><ng:include src="'/static/views/shared/user_status.html'"></ng:include></li>
    </ul>
  </section>
  </nav>

	<div class="row">
    <div class="twelve columns centered">
      <div class="row">
    		<div class="eight mobile-three columns">
    			<div id="content">
            <div ng-view></div>
          </div>
        </div>
        <div class="four mobile-one columns">

        </div>
      </div>
    </div>
	</div>
	<div id="container">
      <div id="push"></div>
    </div>
    <div id="footer">
      <p>© Synced.fm</p>
    </div>


<div ng-controller="LoginController">
  <div id="login-modal" class="reveal-modal small" ng-controller="LoginController">

    <form name="login_form">
      <div class="eleven columns">
        <h4>Welcome to Synced.fm</h4>

        <div class="hide alert-box alert" style="display:none">
          {{error}}
          <a href="" class="close">&times;</a>
        </div>
        <input type="text" ng-model="form.username" placeholder="Username" required />
        <input type="password" ng-model="form.password" placeholder="Password" required />
        <button class="medium button" ng-click="submit()">Login</button>
      </div>
    </form>

    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
</body>
</html>
