<div id="track_container">
    <div id="track_generated_title">
		  <span ng-repeat="artist in form.artist_info[0].artists">
			 <span ng-class="{editing: artist.$$edit}">{{artist.name}}</span>
      </span>
        <span>- </span><span ng-class="{editing: title_edit}">{{ form.title }}</span>	

   	</div>
    <hr/>

      <form name="track_form">
      	<div>
      		<label>Title:</label><br/>
        	<input type="text" ng-model="form.title" placeholder="Enter Title..." ui-event="{ focus: 'title_edit = true', blur : 'title_edit = false' }" required/> <br/><br/>
        </div>

        <label>Artists:</label>
        [ <a href="" ng-click="add_artist()">add</a> ]
        <div ng-repeat="artist in form.artist_info[0].artists">
          <select ng-model="artist.type">
            <option>primary</option>
            <option>vocalist</option>
          </select>
          <input type="text" ng-model="artist.name" ng-change="generate_title()" ui-event="{ focus: 'artist.$$edit = true', blur : 'artist.$$edit = false' }" required/>
           [ <a href="" ng-click="remove_artist(artist)">X</a> ]
        </div>
      <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
      <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
    </form>
    <hr/>
    Debug View:
    <pre>form={{form}}</pre>

</div>